before_install:
  # Retrieves and extracts the DB2 binaries
  - cd /tmp
  - wget https://delivery04.dhe.ibm.com/sdfdl/v2/sar/CM/IM/04jdl/0/Xa.2/Xb.jusyLTSp44S03Ud2hqNz8SvywlJcj6dHjPURNh0iCvzE79MnIkpREqrUv_U/Xc.CM/IM/04jdl/0/v10.5fp3a_linuxx64_server.tar.gz/Xd./Xf.LPR.D1vk/Xg.7708245/Xi.habanero/XY.habanero/XZ.6Ndokz98qNHthR6iSKORF6OAY0c/v10.5fp3a_linuxx64_server.tar.gz ; tar zxf v10.5fp3a_linuxx64_server.tar.gz

  # Retrieves and extract log4db2
  - cd
  - wget https://github.com/angoca/log4db2/releases/download/1-Beta-A/log4db2.tar.gz
  - tar zxvf log4db2.tar.gz

  # Retrieves and extract db2unit
  - cd
  - wget https://github.com/angoca/db2unit/releases/download/db2unit-1-Beta/db2unit.tar.gz
  - tar zxvf db2unit.tar.gz


  # INSTALL

  # Install the required libraries
  - sudo apt-get update -qq
  - sudo apt-get -y install libaio1 ksh libstdc++6-4.4-pic libstdc++6-4.4-dev libstdc++5 rpm
  - sudo apt-get -y install libpam0g:i386
  - sudo ln -s /lib/i386-linux-gnu/libpam.so.0 /lib/libpam.so.0
  - sudo apt-get install numactl
  - sudo apt-get install libapr1-dev
  - sudo apt-get install libaprutil1-dev -y

  # Install DB2 and creates an instance (Response file)
  - cd /tmp/server
  # Checks the prerequisites
  - ./db2prereqcheck -i
  - sudo ./db2setup -r ${TRAVIS_BUILD_DIR}/travis/db2.rsp || cat /tmp/db2setup.log
  # Creates the database
  - sudo su - db2inst1 -c "db2 create db tools"
  - echo "db2inst1:db2inst1" | sudo chpasswd
  - . ~db2inst1/sqllib/db2profile ;  db2 connect to tools user db2inst1 using db2inst1

  # Install log4db2
  - cd ; cd log4db2 ; . ./install

  # Install db2unit
  - cd ; cd db2unit ; . ./install 

install:
  - cd ${TRAVIS_BUILD_DIR}
  - mvn
  - db2 "SET CURRENT SCHEMA CURRENT USER"
  - db2 "SET PATH = SYSTEM PATH, USER"
  - db2 "call sqlj.install_jar('file:${TRAVIS_BUILD_DIR}/target/db2-java-1-SNAPSHOT.jar','NSLOOKUP')"
  - db2 -f ${TRAVIS_BUILD_DIR}/src/main/sql/UDFNslookup.sql
  #- db2 values current path
  #- db2 values current schema
  #- db2 "select funcschema, funcname from syscat.functions where funcschema not like 'SYS%'"
  - db2 -f ${TRAVIS_BUILD_DIR}/src/test/sql/Tests_NSLOOKUP.sql
 
script:
  # Executes the tests twice.
  - db2 -r /tmp/db2unit.output -v "call db2unit.run_suite('NSLOOKUP')" ; bash -c "exit $(tail -1 /tmp/db2unit.output | awk '/Return Status/ {print $4}')"

after_failure:
  # If there is any error, shows the logs
  - cat /home/db2inst1/sqllib/db2dump/db2diag.log
  - db2 "call logadmin.logs"
  - db2 "select * from DB2UNIT_EXECUTION_REPORTS"
  - db2 "select * from DB2_HASH.REPORT_TESTS"

